body{
    /* Added Color to background */
    background-color: whitesmoke;
}

/* Using Google Font Lato on all text*/
h1, h2, h3, p , li, form{
    font-family: Lato;
    color: black;
}

form{
    /* Added Color to background */
    background-color: rgb(230,230,230);
    /* Added display value */
    display: inline-block;

    /* Border attributes */
    border-style: double;
    border-color:hsl(260, 15%, 30%);
    border-width: 5px;
    border-radius: 5px;

    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

h1,h2,h3{
    /* Added Color to text */
    color: #000000;
}

p,li{
    /* Added Color to text */
    color :hsl(260, 15%, 30%);
    font-size: 12pt;
}

button{
    /* Added color to both text and background */
    color: color(srgb 0.4 0.7 0.4 / 0.8);
    background-color: color-mix(in srgb, rgb(59, 58, 63) 60%, rgb(66, 66, 66) 40%);
}

h1{
    /*Aligning title*/
    text-align: center;
    text-decoration: solid underline;

    /* Box Model attributes */
    margin: 40px auto 30px auto;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.playable{
    display: block;
} 

#Perry{
    height: auto;
    width: 80%;
    max-width: 1000px;
    min-width: 250px;
}

img{
    position: relative;
}

video{
    position: sticky;
}